<div>
  <h4>Enter Item Details for Rent</h4>
  <form action="/rentals" method="post">
    <input type="text", name="name", placeholder="Name">
    <input type="text", name="item", placeholder="Item">
    <input type="text", name="type", placeholder="Type">
    <input type="text", name="pricePerHour", placeholder="Price/Hour">
    <input type="submit" value="Submit">
  </form>
</div>
